{{!-- Adding HTML template --}}
<h1>Burgers!!</h1>

<h2>Burgers that still need devouring:</h2>

<ul>
    {{#each burgers}}
    
    {{/each}}

</ul>

<h2>Burgers that have been devoured:</h2>

<ul>


</ul>

<h2>Add a burger:</h2>
<form class="create-form">
<div class="create-form">
<label></label>
</div>




</form>