{{!-- Adding HTML template --}}
<h1>Burgers!!</h1>

<h2>Burgers that still need devouring:</h2>

<ul>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
    </ul>

</ul>

<h2>Burgers that have been devoured:</h2>

<ul>


</ul>

<h2>Add a burger:</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <div class="form-group">
        <label for="devoured">Has this burger already been devoured?</label><br>
        <input type="radio" name="devoured" value="0" checked> Not Devoured
        <input type="radio" name="devoured" value="1"> Devoured!<br>
    </div>
      <button type="submit">Add Burger</button>




</form>