li {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    background-color: lightgoldenrodyellow;
    text-align: center;
  }
  .burgerImage {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Styling for HTML page */

  .label {
    font-weight: bold;
  }
  .delete-btn,
  .change-devour {
      margin-left: 10px;
      
  }
  .create-form {
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 5px;
    text-align: center;
  }

  body {
      background-color: lightgoldenrodyellow;
  }
  h1, h2 {
      text-align: center;
  }
  h2 {
    margin-top: 3rem;
  }