li {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    background-color: lightgoldenrodyellow;
    text-align: center;
  }
  img {
        margin-left: 45%;
  }
  .label {
    font-weight: bold;
  }
  .change-devour {
      margin-left: 10px;
  }
  .create-form {
    padding: 5px;
    margin: 5px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 5px;
    text-align: center;
  }

  body {
      background-color: lightgoldenrodyellow;
  }
  h1, h2 {
      text-align: center;
  }